<header class="header">
      <div class="container header-container">
        <nav class="header-nav">
          <a href="./index.html" class="header-nav-link"
            ><img
              src="./images/logo.png"
              alt="logo"
              width="40"
              height="36"
            />Product</a
          >
          <ul class="header-nav-list">
            <li class="header-nav-list-item">
              <a href="./index.html" class="header-nav-list-item-link active"
                >Product</a
              >
            </li>
            <li class="header-nav-list-item">
              <a href="./pricing.html" class="header-nav-list-item-link"
                >Pricing</a
              >
            </li>
            <li class="header-nav-list-item">
              <a href="./customer.html" class="header-nav-list-item-link"
                >Customers</a
              >
            </li>
            <li class="header-nav-list-item">
              <a href="./resources.html" class="header-nav-list-item-link"
                >Resources</a
              >
            </li>
          </ul>
        </nav>
        <ul class="header-list-btn">
          <li class="header-list-item">
            <button type="button" class="header-list-item-btn sing-in">
              Sign In
            </button>
          </li>
          <li class="header-list-item">
            <button type="button" class="header-list-item-btn sing-up">
              Sign Up
            </button>
          </li>
        </ul>
      </div>
    </header>