/* Header */
.header {
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  gap: 237px;
  margin-right: auto;
}

.header-nav-link {
  font-weight: 700;
  font-size: 30px;
  display: flex;
  gap: 16px;
  align-items: center;
  /* line-height: 28px; */
  line-height: 0.93333;
  color: #173a56;
}

.header-nav-list {
  display: flex;
  gap: 30px;
}

.header-nav-list-item {
}
.header-nav-list-item-link {
  font-weight: 400;
  font-size: 16px;
  padding: 26px 0;
  display: block;
  /* line-height: 28px; */
  line-height: 1.75;
  color: #22343d;
}

.active {
  font-weight: 600;
}

.header-list-btn {
  display: flex;
  gap: 21px;
}

.header-list-item {
}

.header-list-item-btn {
  font-weight: 600;
  font-size: 16px;
}

.sing-in {
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  width: 105px;
  height: 42px;
}

.sing-up {
  border-radius: 4px;
  width: 113px;
  height: 42px;
  background: #02897a;

  color: #fff;
}
